@font-face {
  font-family: "Bauhaus 93";
  font-style: normal;
  font-weight: 400;
  src: local("Bauhaus 93"), url("/fonts/BAUHS93.woff2") format("woff2");
}

@font-face {
  font-family: "Lonely";
  font-style: normal;
  font-weight: 400;
  src: local("Lonely"), url("/fonts/Lonely.woff2") format("woff2");
}

@font-face {
  font-family: "Wellingtons";
  font-style: normal;
  font-weight: 400;
  src: local("Lonely"), url("/fonts/TT Wellingtons Trial Regular.woff2") format("woff2");
}
